USE [master]
GO
/****** Object:  Database [banhang]    Script Date: 3/14/2022 7:27:19 PM ******/
CREATE DATABASE [banhang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'banhang', FILENAME = N'D:\SQL\ssms\data\banhang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'banhang_log', FILENAME = N'D:\SQL\ssms\data\banhang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [banhang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [banhang]
GO
/****** Object:  Table [dbo].[abc]    Script Date: 3/14/2022 7:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abc](
	[id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 3/14/2022 7:27:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](45) NULL,
	[PHONE] [varchar](45) NULL,
	[USERNAME] [varchar](45) NULL,
	[PASSWORD] [varchar](45) NULL,
	[ABOUT] [varchar](1000) NULL,
	[ROLE] [varchar](45) NULL,
	[FAVOURITES] [varchar](45) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
